@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
}
.bgvid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.timer{
    position: absolute;
    font-family: 'Poppins',sans-serif;
    width: 100%;
    font-size: 40px;
    flex-direction: column;
    text-align: center;
    top: 40%;
    color: white;
}
.square {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 50%;
    height: 100%;
    width: 100%;
    background-color: black;
}
.startButton{
    height: 40px;
    width: 80px;
    font-family: 'Poppins',sans-serif;
    border-radius: 5px;
    border: none;
    opacity: 60%;
    transition-duration: 1s;
}
.startButton:hover{
    cursor: pointer;
    opacity: 30%;
    transition-duration: 1s;
}
.buttons{
    border: none;
}
.stateName{
    font-size: 30px;
    height: 30px;
    color: gray;

}
.text-timer{
    height: 100px;
}
.playlist{
    position: absolute;
    height: 100px;
    width: 300px;
    bottom: 20px;
    left: 20px;
    overflow: hidden;
}
.restartButton{
    height: 40px;
    width: 80px;
    font-family: 'Poppins',sans-serif;
    border-radius: 5px;
    border: none;
    opacity: 60%;
    margin-left: 10px;
    transition-duration: 1s; 
}
.restartButton:hover{
    cursor: pointer;
    opacity: 30%;
    transition-duration: 1s;    
}
.Title{
    position: absolute;
    font-family: 'Poppins',sans-serif;
    color: ghostwhite;
    margin: 10px;
}